@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

.font-8 {
    font-size: 0.5rem;
}
.font-9 {
    font-size: 0.5625rem;
}
.font-10 {
    font-size: 0.625rem;
}
.font-11 {
    font-size: 0.688rem;
}
.font-12 {
    font-size: 0.75rem;
}
.font-13 {
    font-size: 0.813rem;
}
.font-14 {
    font-size: 0.875rem;
}
.font-15 {
    font-size: 0.938rem;
}
.font-16 {
    font-size: 1rem;
}
.font-17 {
    font-size: 1.0625rem;
}
.font-18 {
    font-size: 1.2rem;
}
.font-20 {
    font-size: 1.25rem;
}
.font-22 {
    font-size: 1.375rem;
}
.font-24 {
    font-size: 1.5rem;
}
.font-28 {
    font-size: 1.75rem;
}
.font-30 {
    font-size: 1.875rem;
}
.font-32 {
    font-size: 2rem;
}
.font-34 {
    font-size: 2.125rem;
}
.font-36 {
    font-size: 2.25rem;
}
.font-40 {
    font-size: 2.5rem;
}
.font-44 {
    font-size: 2.75rem;
}
.font-48 {
    font-size: 3rem;
}
.font-57 {
    font-size: 3rem;
}